html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}

.c-avatar-img {
    width: 80%;
    padding-left: 20%;
}

.c-avatar-name {
    cursor: pointer;
    user-select: none;
    background-color: #0006;
    color: #fff;
    padding: 0.33rem;
    margin: 0.25rem;
    border-radius: 1rem;
}

.c-avatar-name:hover {
    background-color: #000b;
}

.c-progress-main>p {
    font-weight: bold;
}

.c-progress-sub {
    padding-left: 1rem;
}

.c-progress-sub>* {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

[data-title] {
    cursor: pointer;
    font-size: 30px;
    position: relative;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: 1rem;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    background: #222;
    color: #fff;
    opacity: 75%;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    white-space: nowrap;
}