<h4>第一大關 -- <span id="title_class">序</span></h4>
<hr>
<div id="c01maininfo">
    <p>恭喜你通過了教學關卡，來到了正式關卡了！</p>
    <p>但可別掉以輕心，接下來的關卡將會減少提示。</p>
</div>
<br><br>

<div id="level_display"></div>
<div id="hintcontainer">
    <span id="htitle">Hint</span>
    <span id="hint">提示訊息</span>
    <div id="hts">時間</div>
</div>
 
<!-- 
　　　┏┓　　　┏┓
　　┏┛┻━━━┛┻┓
　　┃　　　　　　　┃
　　┃　　　━　　　┃
　　┃　┳┛　┗┳　┃
　　┃　　　　　　　┃    I'm watching you.
　　┃　　　┻　　　┃
　　┃　　　　　　　┃
　　┗━┓　　　┏━┛
　　　　┃　　　┃
　　　　┃　　　┃            
　　　　┃　　　┗━━━━━┓
　　　　┃　　　　　       ┣┓
　　　　┃　　　　         ┏┛
　　　　┗┓┓┏━━━┳┓┏┛
　　　　　┃┫┫　    ┃┫┫
　　　　　┗┻┛　    ┗┻┛
  -->