<h4>簡介</h4>
<hr>
<p>
    這是一個由文字與<span id="intro_link">連結</span>為主、圖片與影音為輔的<span id="intro_enigmaze">謎宮</span>，你能闖到最後嗎？
</p>

<h4>特點</h4>
<hr>
<ul>
    <li>大部分頁面採取<span id="intro_irreversible">單向通行</span>的模式。</li> 
    <li>部分關卡會有隱藏成就。</li>
    <li>除了教學關卡，其餘大關都需要<span id="intro_password">通關密碼</span>。</li>
    <li>基本上不會出現大海撈針的題目。(解謎都不解謎了)</li>
    <li>初級的關卡中，藏線索的手法大概就跟這個頁面差不多。(滑鼠到處滑滑看吧)</li>
    <!-- <li><del>進階一點的關卡可能會涉及多方知識，不能無腦瞎猜亂找。(暫定)</del></li> -->
</ul>

<h4>闖關</h4>
<hr>
<div class="horizontal">
    <ul>
        <li><span id="tutorial">教學關卡</span></li>
        <li><span id="class01">正式關卡</span></li>
        <!-- <li><span id="class02">第二大關</span></li>
        <li><span id="class03">第三大關</span></li>
        <li><span id="class04">第四大關</span></li>
        <li><span id="class05">第五大關</span></li> -->
        <br><br>
    </ul>
</div>

<h4>雜項</h4>
<hr>
<ul>
    <li>這個謎宮的原型是 <span id="intro_prototype">Kabuntu (Preview: 5)</span>，因此在原始碼內可能還會有些無關殘留。</li>
    <li>本頁面刻意設計成沒有捲軸。所以如果你覺得有東西卡在底下看不到，請善用縮放。</li>
    <li>請使用<span style="color: orange;">電腦</span>及 <span style="color: orange;">Google Chrome </span>瀏覽器。否則可能會有部分語法錯誤或是不相容，導致遺失線索甚至無法闖關。</li>
</ul>

<h4>特殊</h4>
<hr>
<div>
    <span>奇怪的輸入框：</span>
    <input type="text" id="special">
</div>

<div id="loadcounterintro">
    <span id="cntwordintro">本頁瀏覽次數：</span>
    <img src='https://www.counter12.com/img-ZYY7c9bz3a8dY4y4-42.gif' alt='counter'>
</div>

