/* window type */
.window {
    width: 50%;
    min-width: 460px;
    height: 60%;
    min-height: 360px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: left;
    border: 2px solid #242424;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 1px 1px #484848;
    color: black;
    overflow: hidden;
}

.terminal {
    width: 50%;
    height: 60%;
    position: absolute;
    z-index: 9;
    background-color: rgba(44, 44, 44, 0.5);
    text-align: left;
    border: 1px solid #242424;
    color: rgb(214, 214, 214);
    overflow: hidden;
}

/* windowheader */
.windowheader {
    -moz-user-select: none;  /* for Firefox */
    -webkit-user-select: none;   /* for Chrome */
    padding: 2px;
    /* cursor: move; */
    z-index: 10;
    background-color: #444;
    color: #fff;
    opacity: 1 !important;
}
.windowheader .fa-times-circle{
    color: rgb(255, 105, 105);
    margin-left: 3px;
    margin-right: 5px;
}

/* window content: iframe */
.window iframe {
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: -1%;
    text-align: center;
    border: 0;
    width: 98%;
    height: 98%;
}

/* initial position */
#window1 {
    left: 100px;
    top: 40px;
}

#window2 {
    left: 220px;
    top: 120px;
}

/* #window3 {
    left: 95px;
    top: 95px;
}

#window4 {
    left: 120px;
    top: 120px;
}

#window5 {
    left: 145px;
    top: 145px;
} */

/* select window */
.active {
    z-index: 100;
}