/* No scroll */
html, body {margin: 0; height: 100%; overflow: hidden}

/* Body Ubuntu font */
body { 
    background-color:black; color: rgb(0, 159, 0); font-family: 'Inconsolata', sans-serif; font-weight: bold; 

    font-family: Ubuntu + monospace; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px;
    background-image: url("../img/Xerus.jpg");
    background-size: cover;
}

/* Terminal style */
#terminal { white-space: pre; }
#b { display: none; }