/* Intro CSS */
span[id^=intro]:hover {
    color: red;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

del {
    opacity: 0.2;
}