/* sidebar */
.sidebar {
    overflow: hidden;
    background-color: rgb(66, 6, 53);
    -moz-user-select: none;  /* for Firefox */
    -webkit-user-select: none;   /* for Chrome */
    position: absolute;
    width: 48px;
    height: calc(100vh - 20px);
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: xx-small;
    font-weight: 100;
}

/* sidebar item */
.sidebar .top{
    color: rgba(255, 255, 255, 0.85);
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    border: 1px dashed red;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.sidebar .bottom{
    color: rgba(255, 255, 255, 0.85);
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    border: 1px dashed red;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    position: absolute; 
    bottom: 0;
}
.sidebar a {
    float: left;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    text-decoration: none;
}  
.sidebar a:hover {
    background-color: #ddd;
    color: black;
}