/* Intro CSS */
span[id^=tutorial_]:hover {
    color: red;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

div#floatlink {
    position: absolute;
    z-index: 10000;
    width: 100px;
    height: 100px;
    right: 100px;
    bottom: 100px;
    display: block;
}

div#floatlink:hover {
    background-color: red;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    transform:scale(1.2);
}

div#floating {
    position: absolute;
    z-index: 10000;
    left: 40%;
    top: 30%;
}