div#loading {
    z-index: 9999;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #aaa;
    font-size: 72px;
}

div#loading span {
    text-align: center;
    line-height: 90vh;
}

span#detect {
    display: block;
    color: #333;
}

span#norun {
    color: #800; 
    display: none;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

select,
option {
    font-size: 16px;
    height: 32px;
    width: 100%;
    background: #333;
    color: #ccc;
    border: 0;
}

body {
    background: #444;
    color: #ccc;
    overflow-x: hidden;
}

legend {
    user-select: none;
}

div#datetime {
    display: block;
    text-align: right;
    user-select: none;
}

norun-help {
    cursor: pointer;
    color: #47b; 
    font-size: 24px;
}

norun-help:hover {
    color: #b47;
}