<!-- window header require id: for header draggable only. -->
<!-- #1 Terminal -->
<div class="window terminal" id="window1">
    <div class="windowheader" id="window1header">
        <i class="fa fa-times-circle"></i>
        ls@changwai: ~
    </div>
    <p>Terminal</p>
</div>
<!-- #2 Firefox -->
<div class="window" id="window2">
    <div class="windowheader" id="window2header">
        <i class="fa fa-times-circle"></i>
        Kabuntu - Mozilla Firefox
    </div>
    <iframe src="readme.html"></iframe>
</div>
<!-- #3 Nautilus -->
<div hidden class="window" id="window3">
    <div class="windowheader" id="window3header">
        <i class="fa fa-times-circle"></i>
    </div>
    <p>Empty</p>
</div>
<!-- #4 Trash Can -->
<div hidden class="window" id="window4">
    <div class="windowheader" id="window4header">
        <i class="fa fa-times-circle"></i>
    </div>
    <p>Empty</p>
</div>
<!-- #5 Setting -->
<div hidden class="window" id="window5">
    <div class="windowheader" id="window5header">
        <i class="fa fa-times-circle"></i>
    </div>
    <p>Empty</p>
</div>