/* ========[ Main ]======== */
/* main: body */
body {
    background: #444;
    color: #ccc;
    overflow-x: hidden;
}

/* main: select */
select,
option {
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    height: 32px;
    width: 100%;
    background: #333;
    color: #ccc;
    border: 0;
}

/* main: fieldset */
fieldset {
    border:2px solid #fff1;
    border-radius:8px;
}

/* main: fieldset legend */
legend {
    font-size: 18px;
    font-weight: bold;
    color: #999;
    user-select: none;
}

/* main: datetime */
div#datetime {
    display: block;
    text-align: right;
    user-select: none;
}

/* ========[ Loading Mask ]======== */

/* loading mask */
div#loading {
    z-index: 9999;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #aaa;
    font-size: 72px;
}

div#loading span {
    user-select: none;
    text-align: center;
    line-height: 90vh;
}

/* mask: detecting script */
span#detect {
    display: block;
    color: #333;
}

/* mask: no script running */
span#norun {
    color: #800;
    display: none;
}

/* mask: no script running help */
norun-help {
    cursor: pointer;
    color: #47b;
    font-size: 24px;
}

norun-help:hover {
    color: #b47;
}

/* ========[ Util: Animation ]======== */
/* animation: fade in */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

/* animation: fade out */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}